.button {
	padding: 10px;
	border: none;
	background-color: var(--primary);
	color: var(--text-over-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 22rem;
	border-radius: 0.8rem;
	margin: 3.2rem 0;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button:hover {
	filter: brightness(70%);
}

.button svg {
	width: 32px;
	height: 32px;
}

.green {
	background-color: var(--primary);
	color: var(--text-over-primary);
}
.red {
	background-color: var(--error);
	color: var(--text-over-error);
}
