.form{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2.4rem;

}

.formRow{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

}