.label{
    margin-bottom: 1rem;
}
.input{

    color: var(--text-default);
    font-size: 1.6rem;
    padding: 0.8rem;
    background-color: transparent;
    text-align: center;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--primary);
    border-radius: .8rem;
    transition: all 0.5s;
}

.input::placeholder{
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}

.input:focus{
    border: 2px solid var(--primary);
}

.input:disabled{
    border-bottom: 2px solid var(--disabled);
    color: var(--text-muted);
}