.countDown {
	font-size: clamp(8rem, 25vw, 16rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.number {
	font-size: 18rem;
	font-weight: 600;
}

@media (max-width: 470px) {
	.number {
		font-size: 15rem;
	}
}
@media (max-width: 400px) {
	.number {
		font-size: 13rem;
	}
}
