.menu {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	gap: 0 2.2rem;
}
.menuLink {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--link-color);
	border-radius: 0.8rem;
	padding: 12px;
	transition: all 0.3s;
}
.menuLink:hover {
	background-color: var(--link-hover);
}

.menuLink svg {
	color: var(--gray-900);
}
