.logo {
	margin: 3.2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.4rem;
}

.logoLink {
	font-weight: bold;
	font-size: 4.2rem;
	color: var(--primary);
	text-decoration: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	transition: all 0.3s ease-in-out;
}

.logoLink:hover{
	filter: brightness(70%);
}

.logoLink svg {
	width: 6.4rem;
	height: 6.4rem;
}
