.heading {
	border-radius: 10px;
	margin: auto auto;
	width: 60%;
	background-color: #ccc;
}
.heading h1 {
	margin: 0px;
	border-radius: 10px;
	background: darkblue;
}

.container {
	margin: 0px;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.outra{
    
}
